@tailwind base;
@tailwind components;
@tailwind utilities;
/* Example 1: Change Background Color on Hover */

.ant-btn-custom-1:hover {
    background-color: #4caf50; /* Change to desired color */
    color: white;
    border-color: #4caf50;
  } 
  .btn_header{
    @apply   border-[0.5px] font-title border-[#b3b3b4] text-[13px] font-semibold hover:bg-[#d7d7d8] rounded-[12px]  p-2
  }
  .btn_sid{
    @apply rounded-[4px] font-title flex flex-col items-center gap-1 p-4 cursor-pointer  hover:bg-hoverButtonColor hover:text-white
 
  }
 